<form (ngSubmit)="SignIn()">
    <legend>Login Here</legend>

    <div class="form-group">
        <label for="uname">uname</label>
        <input type="text" class="form-control" name="uname" 
        id="uname" placeholder="uname" [(ngModel)]="userdetails.uname">
    </div>


    <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" name="password" 
        id="password" placeholder="password" [(ngModel)]="userdetails.password">
    </div>

    <button type="submit" class="btn btn-primary">Log In</button>

    <br>
    
    <span class="label label-danger">{{message}}</span>
    

</form>
    


