
<form (ngSubmit)="Update()">
    <legend>Edit Employee</legend>

    <div class="form-group">
        <label for="No">No</label>
        <input type="text" class="form-control" name="No" id="No" placeholder="No" [(ngModel)]="emp.No">
    </div>

    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" name="Name" id="Name" placeholder="Name" [(ngModel)]="emp.Name">
    </div>

    <div class="form-group">
        <label for="Age">Age</label>
        <input type="text" class="form-control" name="Age" id="Age" placeholder="Age" [(ngModel)]="emp.Age">
    </div>

    

    <button type="submit" class="btn btn-primary">Upadte</button>
</form>

